*.sdf
*.opensdf
*.obj
*.ilk
*.lib
*.log
*.pch
*.pdb
*.tlog
*.idb
/Simulator/EyesWebModules/Win32/Debug/*.dll
/Simulator/EyesWebModules/Win32/Debug/*.res
/Simulator/PythonScripts/*.pyc
/Simulator/EyesWebModules/*.suo
